<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.st1hy.countthemcalories" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.CaloriesCounterApplication">
        <activity
            android:name=".activities.overview.view.OverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ingredients.view.IngredientsActivity"
            android:label="@string/ingredients_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.addmeal.view.AddMealActivity"
            android:label="@string/add_meal_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.addingredient.view.AddIngredientActivity"
            android:label="@string/add_ingredient_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.settings.view.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.tags.view.TagsActivity"
            android:label="@string/tags_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activities.addmeal.view.IngredientDetailsActivity"
            android:label="@string/add_meal_title"
            android:theme="@style/AppTheme.Dialog"
            />
    </application>

</manifest>