<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.st1hy.countthemcalories">

    <application
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name"
        android:name=".application.DebugApplication"
        android:fullBackupContent="true">
    </application>

</manifest>